.about-title{
  color: var(--third-color);
  font-size: 52px;
  letter-spacing: 0.1rem;
  text-align: center;
}

img{
  width:40%;
  margin:5%
}

h2{
  font-size: 52px;
    letter-spacing: 0.1rem;
    text-align: center;
}

// .About-container{
//   display:flex;
//   flex-direction: column;
//   height: 100%;
// }

.about-first-part {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    height: 100%;
    p {
      width: 100%;
      font-weight: 300;
      line-height: 50px;
      font-size: 1.5rem;
      }
    .line-wrap {
      overflow: hidden;
      height: 66px;
    }
  }

  .about-second-part {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    height: 100%;
    p {
      width: 100%;
      font-weight: 300;
      line-height: 50px;
      font-size: 1.5rem;
      }
    .line-wrap {
      overflow: hidden;
      height: 66px;
    }
  }

  .about-third-part {
    position: relative;
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    height: 100%;
    p {
      width: 100%;
      font-weight: 300;
      line-height: 50px;
      font-size: 1.5rem;
      }
    .line-wrap {
      overflow: hidden;
      height: 66px;
    }
  }

  .about-fourth-part {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 100px;
    p {
      width: 100%;
      font-weight: 300;
      line-height: 50px;
      font-size: 1.5rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-blend-mode: overlay;
      color:#FBB03B;
      background-image: url("../assets/Ambition2.jpg");
      font-weight: bold
      }
    .line-wrap {
      overflow: hidden;
      height: 66px;
    }
  }

  
  
  // .container {
  //   position: relative;
  //   width: 1280px;
  //   min-width: 1280px;
  //   margin: 0 auto;
  //   display: flex;
  //   justify-content: center;
  //   .page {
  //     position: absolute;
  //     .inner {
  //       display: flex;
  //       justify-content: center;
  //       p {
  //         font-family: "Poppins";
  //         margin-top: 200px;
  //         width: 340px;
  //         font-weight: 300;
  //         line-height: 24px;
  //         font-size: 14px;
  //       }
  //     }
  //   }
  // }