.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-top: 8%;
  margin-right: auto;
  margin-left: auto;
  height: 64vh;
}

.text {
  margin: 20px;
  font-size: 1.5vh;
}

.contact-form {
  font-size: 1.8vh;
  color: var(--fourth-color);
  text-align: center;
  margin-bottom: 2%;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 2%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  padding: 2%;
  border-radius: 4px;
  cursor: pointer;
}

.send:hover {
  background-color: var(--third-color);
  border: 1px solid var(--third-color);
}

.container {
  padding: 2%;
}

.link-contact {
  display: flex;
  justify-content: center;
}

.send {
  background-color: var(--second-color);
  font-size: 100%;
  width: 100%;
  padding: 1.7%;
  border: 1px solid var(--second-color);
  border-radius: 20px;
  box-sizing: border-box;
  color: white;
  margin-top: 2%;
}

.home-contact {
  display: flex;
  justify-content: center;
}

.submit {
  height: 80px;
  text-align: left;
}